{% extends 'base.html.twig' %}

{% block title %}Wild Series | Ajout série{% endblock %}

{% block body %}
<h1>Ajout d'une nouvelle série :</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Add program'}) }}


<a href="{{ path('program_index') }}">
    Retour à la liste des catégories
</a>
{% endblock %}